body {  
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url('fondoU.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #ffffff;
    overflow-y: auto;
    padding-top: 50px;
}

.formulario {
    background: rgba(0, 0, 0, 0.5); /* Fondo más oscuro para mayor contraste */
    width: 400px;
    padding: 30px;
    border-radius: 15px;
    border: none;
    backdrop-filter: blur(10px);
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
    transition: transform 0.3s ease-in-out;
}

.formulario:hover {
    transform: scale(1.05); /* Efecto al pasar el mouse */
}

.titulo {
    margin-bottom: 25px;
    text-align: center;
    font-size: 1.8em;
    font-weight: 600;
    color: #ffffff;
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.6);
    letter-spacing: 2px;
}

.input-part {
    display: flex;
    width: 100%;
    position: relative;
    margin-top: 20px;
}

.input-part input,
.input-part select {
    width: 100%;
    padding: 14px 18px 14px 50px;
    border-radius: 40px;
    border: 2px solid transparent;
    background: rgba(255, 255, 255, 0.3);
    color: #ffffff;
    font-weight: 500;
    font-size: 1em;
    transition: all 0.3s ease;
}

.input-part input:focus,
.input-part select:focus {
    border-color: #ff7eb3;
    background: rgba(255, 255, 255, 0.5);
    outline: none;
}

.input-part input::placeholder {
    color: rgba(255, 255, 255, 0.8);
}

.input-part select {
    appearance: none;
    background: rgba(255, 255, 255, 0.2);
}

.input-part select option {
    background: rgba(0, 0, 0, 0.6);
    color: #ffffff;
}

.buscar {
    width: 100%;
    margin-top: 30px;
    padding: 14px;
    background: linear-gradient(90deg, #ff7eb3, #ff758c);
    border: none;
    border-radius: 40px;
    color: white;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    transition: transform 0.3s ease, background 0.3s ease;
}

.buscar:hover {
    transform: translateY(-5px);
    background: linear-gradient(90deg, #ff4f78, #ff758c);
}

.buscar:focus {
    outline: 2px solid #ff7eb3;
}

label {
    font-size: 14px;
    color: #ffffff;
    font-weight: bold;
    margin-bottom: 8px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
}
